services:
  fastapi:
    image: [IMAGE_FASTAPI_NAME]
    container_name: python-backend
    env_file:
      - .env
    ports:
      - "8010:8000"
    restart: always

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-python-backend
    ports:
      - "8090:80"
    volumes:
      - ./config/nginx:/etc/nginx
    depends_on:
      - fastapi
    networks:
      - nw.python_api

  networks:
    nw.python_api:
      ipam:
        driver: default
        config:
          - subnet: "172.20.0.0/24"
